* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --client-primary-color: #9C54FF;
  --client-secondary-color: #f2f4f5;
  --client-teritary-color: #000;
  --client-text-color: #fff;
  --client-fonts-color: #5c5f6a;
  --client-top-primary-color: #2f3336;
  --client-top-secondary-color: #676868;
  --client-boxshadow-color: #00000040;
  --client-border-color: #E4E7E9;
  --client-button-carousel-color: #f3f9fb;
}
.common-button {
  background-color: var(--client-primary-color) !important;
  color: var(--client-text-color) !important;
  border: none;
}
.common-button:focus{
  box-shadow: none !important;
}
/* / Hero Section  / */
.custom-carousel .custom-dots {
  position: absolute;
  top: 88%;
  left: -66%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}
.react-multi-carousel-dot--active button {
  background-color: var(--client-fonts-color);
}
.react-multi-carousel-dot--active button {
  width: 20px !important;
  list-style: none;
  border: none;
  border-radius: 5px;
  height: 9px;
  background-color: var(--client-button-carousel-color);
}
.react-multiple-carousel__arrow--left {
  left: calc(2.3% + 1px);
  background-color: var(--client-button-carousel-color);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 8px solid var(--client-text-color);
}
.react-multiple-carousel__arrow--right {
  right: calc(2.3% + 1px);
  background-color: var(--client-button-carousel-color);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 8px solid var(--client-text-color);
}
.react-multiple-carousel__arrow--left:hover {
  left: calc(2.3% + 1px);
  background-color: var(--client-button-carousel-color);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 5px solid var(--client-text-color);
}
.react-multiple-carousel__arrow--right:hover {
  right: calc(2.3% + 1px);
  background-color: var(--client-button-carousel-color);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 5px solid var(--client-text-color);
}

.react-multiple-carousel__arrow--left::before {
  color: blue;
}
.react-multiple-carousel__arrow--right::before {
  color: blue;
}

@media (max-width: 768px) {
  .custom-carousel .custom-dots,
  .custom-carousel .carousel-arrow {
    display: none !important;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(0.5% + 1px);
    background-color: var(--client-button-carousel-color);
    height: 5px;
    width: 5px;
  }
  .react-multiple-carousel__arrow--right {
    right: calc(0.5% + 1px);
    background-color: var(--client-button-carousel-color);
    height: 5px;
    width: 5px;
  }
  .react-multiple-carousel__arrow--left:hover {
    left: calc(0.5% + 1px);
    background-color: var(--client-button-carousel-color);
    height: 5px;
    width: 5px;
  }
  .react-multiple-carousel__arrow--right:hover {
    right: calc(0.5% + 1px);
    background-color: var(--client-button-carousel-color);
    height: 5px;
    width: 5px;
  }
  .react-multiple-carousel__arrow--left::before {
    color: blue;
  }
  .react-multiple-carousel__arrow--right::before {
    color: blue;
  }
}

/* / / Hero Section / / */


/* / / Topbar / / */
.top-bar{
  overflow: hidden; 
  white-space: nowrap
}

.top-bar .search{
  background-color: var(--client-top-primary-color);
  border: none !important;
}

.top-bar .btn-link {
  color: var(--client-top-secondary-color);
}

.top-bar .btn-link:hover {
  color: var(--client-text-color);
}

.top-bar .badge {
  background-color: var(--client-text-color);
  font-size: 0.5rem;
}

.top-bar .form-control {
  transition: all 0.3s ease;
}

.top-bar .flex-grow-1 {
  flex: 1;
}

.top-bar form {
  width: 100%; 
}

.top-bar .form-control {
  background-color: var(--client-top-primary-color);
  border: none;
}

.top-bar .form-control::placeholder {
  color: var(--client-top-secondary-color);
}

.top-bar button {
  white-space: nowrap;
}

.search-buttons .form-control{
 background-color: var(--client-search-button-color);
 border-color: var(--client-top-secondary-color);
}

.search-buttons .form-control::placeholder {
  color: var(--client-top-secondary-color);
}

/* / / Header / / */
.header{
  color: var(--client-teritary-color);
}

@media (min-width: 992px) {
  .top-bar .form-control {
    width: "800px";
  }
}

.custom-dropdown-menu {
  width: 100%;
  padding: 0;
}

.custom-dropdown-menu .nav-link {
  padding: 10px 20px;
  width: 100%;
  text-align: left;
}

@media (min-width: 992px) { 
  .custom-dropdown-menu {
    width: 100%; 
  }
}

@media (max-width: 991px) {
  .offcanvas-body .nav-link {
    padding-bottom: 10px;
    margin-bottom: 10px; 
  }
}

/* Best selling and Daily Deals */
.carousel-container-rp .react-multiple-carousel__arrow--left {
  display: none;
}
.carousel-container-rp .react-multiple-carousel__arrow--right {
  display: none;
}

.bestSelling-card {
  transition: all 0.3s ease;
}

.bestSelling-card:hover {
  border: 1px solid #FDBF46 !important; 
  transform: scale(1.05); 
}

/* Best selling and Daily Deals */

/* Footer */
.footerBg {
  background-color: #2C3454;
  color: #fff;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 600;
}

.footer-links a:hover {
  color: #FDBF46;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
}

.social-icons a:hover{
  color: #FDBF46;
}

.footer-text {
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .footer-links a, .social-icons a {
    font-size: 1.2rem;
  }
  .footer-text {
    font-size: 0.75rem;
  }
}

.copyrights{
  text-decoration: none;
  color: var(--client-text-color);
}

.copyrights:hover{
  color: #FDBF46;
}
/* Footer End */

/* / Top Categories / */
.categoryCard {
  border: none;
  border-radius: 50%;
  box-shadow: 0px 6px 12px 0px var(--client-boxshadow-color);
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .categoryCard {
      width: 80px;
      height: 80px;
  }
}

.categoryCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.categoryOffCard {
  border: none;
  border-radius: 50%;
  box-shadow: 0px 6px 12px 0px var(--client-boxshadow-color);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

.categoryOffCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* / Top Categories / */

/* / Sub Categories / */
.subCatCard{
  border: 1px solid var(--client-border-color);
  border-radius: 0;
}

.subCatCard img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
/* / Sub Categories / */

/* Sub Banner */
.row .equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height .col-md-6 {
  display: flex;
  flex-direction: column;
}

.subBannerCard {
  border: none;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  padding: 40px;
  color: var(--client-text-color);
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subBannerCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, #FDBF46 25%, #000 50%);
  z-index: 1;
  opacity: 0.2;
}

.subBannerCard h3,
.subBannerCard .seeDealsBtn {
  position: relative;
  z-index: 2;
}

.subBannerCard h3 {
  margin-top: 125px;
}

.seeDealsBtn {
  background-color: var(--client-text-color);
  border: 2px solid var(--client-text-color);
  border-radius: 5px;
  color: #FDBF46;
  font-weight: bold;
  cursor: pointer;
}

.seeDealsBtn:hover {
  background-color: none;
  border: 2px solid var(--client-text-color);
  color: var(--client-text-color);
}
/* Sub Banner */
.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #771bf8 !important;
}
.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #771bf8 !important;
}