<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /dealslahVendor/
  
  RewriteRule ^index\.html$ - [L]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  RewriteRule . /dealsmachiVendor/index.html [L]
</IfModule>